doctype html
html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title= "Fotaza"
        link(rel="shortcut icon" type="image/x-icon" href="logo3.png" sizes="573x573")

        link(rel='stylesheet' href='/almacenar.css')
        link(rel='stylesheet' href='/nav.css')

        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")


        link(rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css")
        script(type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js")
        script(nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js")

        script(src="//cdn.jsdelivr.net/npm/sweetalert2@11")
        script(src="/almacenar.js" defer) 
        script(content-type="JavaScript" src="/nav.js" defer) 

        script(src="https://code.jquery.com/jquery-3.6.0.min.js")
        script.
            $(document).ready(function() {
                // Detectar el cambio en el select#rightOfUse
                $('#rightOfUse').on('change', function() {
                    var selected = $(this).val();
                    // Mostrar o ocultar el campo de entrada del watermark según el valor seleccionado
                    if (selected == 'Copyright') {
                        $('#watermark-wrapper').show();
                    } else {
                        $('#watermark-wrapper').hide();
                    }
                });
            });


    body

        header
            div.container.align-items-centercol-lg-12.col-md-12.col-sm-12.col-xs-12
                a#fotaza(href="/photo")
                    h1#fotaza Fotaza
                nav
                    div.close-icon
                        ion-icon#profile-icon(name="close")
                    a(href="/photo") home
                    a(href="/auth/logout") logout
                    a.active(href="/photo/view/almacenar") almacenar
                    a(href="/message/view/myMessages") mensajes
                    a(href="/message/view/myOffers") ofertas
                    a(href="/user/profile") perfil
                div.bar-icon
                    ion-icon#profile-icon(name="list")
                div.overlay

        div#almacenar.row.justify-content-center.col-lg-12.col-md-12.col-sm-12.col-xs-12.p-4
            form.row.justify-content-center.col-lg-6.col-md-8.col-sm-21.col-xs-11.mx-2(action="photo/almacenar/submitPhoto" method="post" enctype='multipart/form-data')
                //titulo 
                div.data-photo-box
                    input(type="text" name="title" required="")
                    label Titulo

                label.col-lg-11.col-md-11.col-sm-11.col-xs-11.m-1.p-2 Privacidad
                //privacidades
                select#privacy.col-lg-11.col-md-11.col-sm-11.col-xs-11.form-control.p-2(name="privacy")
                    option(value="protected") PROTEGIDA
                    option(value="public") PUBLICA

                label.col-lg-11.col-md-11.col-sm-11.col-xs-11.m-1.p-2 Categoria
                //categorias
                select#category.col-lg-11.col-md-11.col-sm-11.col-xs-11.form-control.p-2(name="category")
                    option(value="publicitaria") Publicitaria
                    option(value="artistica") Artistica
                    option(value="periodistico") Periodistico
                    option(value="paisajes") Paisajes
                    option(value="retrato") Retrato
                    option(value="area") Area
                    option(value="accion") Accion
                    option(value="movimiento") Movimiento

                //derechos de uso
                label.col-lg-11.col-md-11.col-sm-11.col-xs-11.m-1.p-2 Derechos de uso
                select#rightOfUse.col-lg-11.col-md-11.col-sm-11.col-xs-11.form-control.p-2(name="rightOfUse")
                    option(value="null") Sin derecho de uso
                    

                //imagen a subir
                label.drop-container.col-lg-11.col-md-11.col-sm-11.col-xs-11.p-2(for='image-input') Imagen
                    span.drop-title Drop files here
                    input(type='file' accept='image/jpeg,image/jpg,image/png' required='' name="imagen" id='image-input')

                //marca de agua
                div#watermark-wrapper(style="display:none;").col-lg-11.col-md-11.col-sm-11.col-xs-11.my-2.p-2
                    label.drop-container.col-lg-11.col-md-11.col-sm-11.col-xs-11.p-2(for='watermark-input') Watermark
                        span.drop-title Drop files here
                        input(type='file' accept='image/jpeg,image/jpg,image/png' name="watermark" id='watermark-input') 
               
                //etiquetas
                div.data-photo-box.my-5
                    input(type="text" name="label1" required="")
                    label etiqueta 1
                div.data-photo-box.my-5.mx-2
                    input(type="text" name="label2" required)
                    label etiqueta 2
                div.data-photo-box.my-5
                    input(type="text" name="label3" required)
                    label etiqueta 3
                    
                button#submitPhoto.col-lg-11.col-md-11.col-sm-11.col-xs-11.m-4.p-4(type="submit") Subir

