extends layout

block content

  div.row.m-1

    div.col-lg-7.col-md-6.col-sm-5.col-xs-12.my-5.animated
      h1.col-lg-12.col-md-12.col-sm-12.col-xs-12.mx-4#fotaza Fotaza

      h1.col-lg-12.col-md-12.col-sm-12.col-xs-12.mx-4.my-2#prueba Imágenes que cuentan

      h4.col-lg-6.col-md-12.col-sm-10.col-xs-12.mx-4.my-0.d-none.d-sm-block#encabezado Descubre, comparte y compra las mejores fotos en Fotaza. Únete a nuestra comunidad de fotógrafos hoy mismo. ¡Regístrate ahora!

      div.col-lg-12.col-md-12.col-sm-12.col-xs-12.mx-4.my-5
        button.cssbuttons-io-button(type="button").animated
          | Get started
          div.icon
            a(href="unauthenticated/fotaza")
              svg(width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg")
                path(fill="currentColor" d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z")

    div.col-lg-5.col-md-6.col-sm-7.col-xs-12.my-5.animated
      div.login-box.col-lg-11.col-md-12.col-sm-12.col-xs-12.my-3
        h2.my-4 Iniciar sesión

        form(action="auth/singIn" method="post")
          div.user-box.my-5
            input(type="email" name="mail" required)
            label Mail  

          div.user-box.my-4
            input(type="password" name="password" required)
            label Contraseña

          div.row.justify-content-center.m-0 
            i.devicon-facebook-plain.mx-4(style="color:rgb(139, 134, 209)") 
            i.devicon-github-original.mx-2(style="color:rgb(139, 134, 209)") 
            i.devicon-twitter-original.mx-4(style="color:rgb(139, 134, 209)")

          div#contain-login-singUp.my-5
            a#login-singUp(href="/auth/view/register") Sing up

          button#submit-login(type="submit") ENVIAR



