extends layout

block content

    div.modal.p-4
        div.modal-content
            button.modal-close X
            p  ~  Los usuarios deben crear y mantener una cuenta en la aplicación para poder publicar y acceder a las fotografías privadas.
            p  ~  Los usuarios deben ser respetuosos con otros usuarios en la comunidad y no publicar contenido ofensivo, discriminatorio, amenazante o ilegal.
            p  ~  Los usuarios deben respetar los derechos de autor y propiedad intelectual de las fotografías publicadas, y solo publicar imágenes de las que tengan los derechos necesarios.
            p  ~  Los usuarios deben etiquetar sus fotografías de manera precisa y coherente para facilitar la búsqueda y organización de las imágenes.
            p  ~  Los usuarios no pueden usar la aplicación para actividades comerciales no autorizadas, como la venta de fotografías sin permiso del autor.
            p  ~  Los usuarios deben informar de inmediato cualquier comportamiento inapropiado o contenido ofensivo que encuentren en la aplicación a los administradores del sitio.
            p  ~  Los usuarios deben respetar los derechos de privacidad de los demás usuarios y no publicar información personal de terceros sin su consentimiento.
            p  ~  Los usuarios no pueden utilizar la aplicación para realizar actividades ilegales o que violen las leyes o normas aplicables.
            p  ~  Los usuarios deben utilizar la aplicación de manera responsable y no sobrecargar el sitio con un uso excesivo de recursos o spam.
            p  ~  Los usuarios deben seguir las instrucciones y requisitos establecidos en la aplicación en cuanto a la publicación de fotografías y el uso de la aplicación en general


    div.m-1.row

        div.col-lg-7.col-md-6.col-sm-5.col-xs-12.my-5.animated
            h1#fotaza.col-lg-12.col-md-12.col-sm-12.col-xs-12.mx-4 Fotaza
            h1#prueba.col-lg-12.col-md-12.col-sm-12.col-xs-12.mx-4.my-2 Imágenes que cuentan
            h4#encabezado.col-lg-6.col-md-12.col-sm-10.col-xs-12.d-none.d-sm-block.mx-4.my-0 Descubre, comparte y compra las mejores fotos en Fotaza. Únete a nuestra comunidad de fotógrafos hoy mismo. ¡Regístrate ahora!

            div.col-lg-12.col-md-12.col-sm-12.col-xs-12.mx-4.my-5
                button.cssbuttons-io-button(type="button") Get started
                    div.icon
                        a(href="unauthenticated/fotaza")
                            svg(height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg")
                                path(d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2" fill="currentColor")

        div.col-lg-5.col-md-6.col-sm-7.col-xs-12.my-4.animated
            div.login-box.col-lg-11.col-md-12.col-sm-12.col-xs-12.my-3
                h2 Registrate
                form(action="auth/register" method="post" enctype="multipart/form-data")
                    div.user-box
                        input(type="text" name="name" required)
                        label Nombre
                    div.user-box
                        input(type="text" name="surname" required)
                        label Apellido
                    div.user-box
                        input(type="email" name="mail" required)
                        label Mail
                    div.user-box
                        input(type="password" name="password" required)
                        label Contraseña
                    div.user-box
                        input(type="text" name="interests" required)
                        label Intereses
                    div.user-box
                        input(type="file" name="imagen" accept="image/jpeg,image/jpg,image/png")
                        label Foto de perfil
                    div#politica
                        label Condiciones de uso
                    div.user-box.d-flex
                        input(type="checkbox" name="politica" required id="checkbox")
                        p.condiciones acepto las condiciones

                    button#submit-login(type="submit") ENVIAR







