 #input-msg {
     border: .1px solid black;
     font-family: cursive;
     height: 60px;
     padding: 10px 20px;
     color: #000000;
     text-decoration: none;
     text-transform: uppercase;
     transition: .5s;
     letter-spacing: 4px;
     border-radius: 2em;
     outline: none;
     background: linear-gradient(145deg, #cacaca88, #4825808a);
     background-color: rgb(250, 255, 255);
 }

 body {
     /* background-image: url(/910923.png); */
     background:none;
     background-color: #1b1d1f !important;
 }

 #contain-box-msg {
     height: 90vh;
     top: -15px;
     align-items: center;
     transition: 1s ease all;
 }

 .containerChat {
     border: .5px solid rgba(105, 98, 98, 0.459);
     border-radius: 2rem;
     
 }

 #box-msg {
     height: 75vh;
     overflow-y: scroll;
     border: .5px solid rgba(107, 101, 101, 0.459);
     background-color: rgba(88, 81, 81, 0.486);
     border-radius: 10px;
 }

 #msg {
     word-wrap: break-word;
     height: auto;
 }

 #i-msg {
     color: #9e9797;
 }

 #p-msg {
     color: #cfcece;
 }

 #linea-msg {
     height: .5px;
     width: 100%;
     background-color: #9e979733;
 }

 i {
     color: rgb(102, 95, 109);
     margin-left: 3px;
 }

 #cerrar-comments {
     width: 20px;
     height: 20px;
     color: black;
     transition: 1s ease all;
 }

 #icon-cerrar-comment {
     color: black;
 }


 #img img {
     object-fit: contain;
     max-height: 300px;
     border-radius: 2rem;
 }

 #containDelete{
    float: right;
 }

 #delete{
    font-size: 20px;
    color: rgb(153, 66, 66);
 }

 #delete:hover{
    font-size: 20px;
    color: rgb(236, 11, 11);
 }